*:not(.fragment *) {
	background-color: #FEFBFB !important;
	color: #525252 !important;
	font-family: "DejaVu Sans Mono", monospace !important;
	background-image: none !important;
	text-shadow: none !important;
	border-color: #525252 !important;
	border-width: 1px !important;
	border-radius: 0px !important;
	font-size: 100% !important;
}

.code {
	color: #525252 !important;
}

.lineno {
	background-color: #FEFBFB !important;
}

.lineno > * {
	background-color: #FEFBFB !important;
	color: #525252 !important;
	font-weight: bold !important;
}
