name: Build larch on linux

on:
  workflow_dispatch:
  push:
    branches:
      - fix-macos-build

jobs:
  build-larch:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: latest
          activate-environment: larch-dev
          environment-file: environment-ci-linux.yml
          channels: conda-forge,bioconda
          auto-activate-base: false

      - name: Build (cmake step)
        shell: bash -el {0}
        run: |
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Debug -DUSE_USHER=yes ..

      - name: Build (make step)
        shell: bash -el {0}
        run: |
          cd build
          make VERBOSE=1 -j$(nproc)

      - name: Run tests
        shell: bash -el {0}
        run: |
          cd build
          ln -s ../data
          ./bin/larch-test -tag slow
